.Subject_1 {
  background-color: skyblue;
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  width: 80%;
}

.Subject_2 {
  background-color: orange;
  color: white;
  margin: 20px;
  padding: 30px 20px 30px;
  width: 80%;
}

.Subject_3 {
  background-color: #f1f1f1;
  margin: 20px;
  padding: 20px;
  padding-bottom: 5px;
  width: 80%;
}

.Subject_3-1 {
  background-color: white;
  border-style: solid;
  border-color: green;
  border-width: 5px;
  /* margin: 20px; */
  border-right-style: none;
  border-top-style: none;
  border-bottom-style: none;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
}

.Subject_3-2 {
  background-color: green;
  margin-top: 20px;
  padding: 5px;
  width: 150px;
  text-align: center;
  font-weight: bold;
}
.Subject_3-2 a {
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
/* hover 할 때는 :을 바로옆에 안붙히면 적용안됨 */
.Subject_3-2:active {
  background-color: pink;
  color: aqua;
}

li {
  list-style-type: none;
}
