

p {
  font-size: 2em;
  /* 부모의 2배 수치로 늘린다. */
}
p1 {
  /* color: red; */
  font-size: 2rem;
  /* 루트의 2배 수치로 늘린다 현재는 HTML 태그겠지? */
}

body {
  display: flex;
  font-size: 20pt;
}
html {
  font-size: 30pt;
}

div {
  width: 80%;
  height: 10%;
  padding: 20px 20px 20px 20px;
  border-color: blue;
  border-style: dashed;
  border-top-color: red;
  border-bottom-color: aqua;
  border-radius: 20%;
  box-sizing: border-box;
  /* margin: auto; */
  margin: 1%;
}


#linkA,a:link{
  color: orangered;
  font-size: 20pt;

}
#linkB,a:link{
  color: skyblue;
  font-size: 20pt;
}

a:link{
  color: purple;
  font-size: 20pt;
}


a:hover{
  color: blue;
  font-size: 20pt;
  text-decoration: none;
}

a:active{
  color:green;
  font-size: 20pt;
}

a:visited{
  color:pink;
  font-size: 30pt;
  text-decoration: none;
}

